 /**************************************** ESTILOS PARA INDEX.HTML ******************************************/

 body {
    background-color: rgb(241, 255, 237);
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    display: flex; 
    flex-direction: column;
    height: 100vh;
 }

 /*  
      Como jogar o footer para baixo :
      
      Transforma em flex box, e depois deixa em coluna, logo após isso mudamos o altura
      para 100 virtual heigth, e depois colocamos margin-top: auto;
 */


 header {
    background-color: #00160d;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
 }

 #logo {
    height: 150px;
 }


 footer {
    margin-top: auto;
    background-color: #081c15;
    color: white;
    text-align: center;
    font-weight: lighter;
    padding: 10px 0px;
 }

 #img-topo {
    width: 100%;
    height: 300px;
    min-height: 250px;
    background-image: url("../img/imagem-topo.png");
    background-size: cover ;
 }

 nav {
    background-color: #1b4332;
    padding: 2px 0px;
    text-align: center;
 }

 nav a {
    text-decoration: none;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
 }

 nav a:hover {
    color: #ebcd42;
    font-weight: bold;
 }


 #container {
    margin: 20px;
    padding: 50px 100px;
    text-align: center;
 }

 h1 {
    color: #22577a;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
 }


 #destaque {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
 }

 #destaque a {
    text-decoration: none;
    opacity: 0.88;   /* Deixa transparente */
 }

 #destaque a:hover {
    opacity: 1.0;
 }



 /************************************ ESTILOS PARA SOBRE.HTML *******************************************/


#conteudo-empresa {
   display: flex;
}

#conteudo-empresa-esquerda {
   width: 50%;
}

#conteudo-empresa-direita {
   width: 50%;
}

#conteudo-empresa-direita p {
   padding-left: 20px;
   text-align: justify;
}

#img-empresa {
   width: 100%;
   height: 100%;
}

#selo-melhores-empresas {
   height: 25%;
   margin-top: 35px;
}


/**************************************************** ESTILOS PARA SOLUÇÕES.HTML ************************************************/

h2 {
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color: #22577a;
   font-size: 28px;
}
.destaques-produto{
   padding: 0px 15px;
   background-color: #62ab82;
   margin: 20px;
}

.destaques-produto a{
   text-decoration: none;
   color: rgb(255, 183, 0);
}

.destaques-produto a:hover {
   font-weight: bold;

}

/****************************** ESTILOS CASOS.HTML *************************************************************/

.detalhes-caso {
   display: flex;
   margin: 25px 0px;
}

.detalhes-caso img{
   padding-right: 20px;
}

.detalhes-caso-texto {
   text-align: start;
}

/********************************** ESTILOS CONTATO.HTML **********************************************************************/

#frm-container {
   display: flex;
}


#frm-labels {
   background-color: rgb(241, 255, 237);
   width: 50%;
   text-align: right;
   padding-right: 15px;
}

#frm-mensagem {
   resize: none;
}

#frm-container select, input, textarea {
   width: 280px;
   font-family: 'Courier New', Courier, monospace;
   font-size: 15px;
}

#btn-enviar {
   background-color: #37b400;
   color: white;
}

#btn-cancelar {
   background-color: #c4c4c4;
}

button {
   width: 130px;
   height: 35px;
   font-size: 15px;
   margin: 0px 15px;
   border: 0px;
}


#frm-fields {
   background-color: rgb(241, 255, 237);
   width: 50%;
   text-align: left;
   padding-left: 15px;
}